.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 627) {
  .card__image {
    height: 288px;
    padding: 20px 0 0;
    margin: 0 0 12px;
  }
}
