.cards {
  padding: 20px 0 40px;
}

.cards__list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  max-width: 1279px;
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
