.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  max-width: 353px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    margin: 0 0 12px;
  }
}
