.footer {
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__copyright {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #212121b2;
}
