.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  opacity: 0.7;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.profile__add-btn {
  margin-left: auto;
  color: #fcf5e5;
  background-color: #212121;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .prifle__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 20px 0 0;
    width: 100%;
  }
}
